* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 50rem;
    height: 30rem;
    background-color: #2c2c2c;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

div:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(141, 12, 12, 0.747);
}


body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: arial, sans-serif;
    font-weight: 500;
}

.respostas {
    background-color: aliceblue;
    bottom: 0;
    width: 10rem;
    height: 3.5rem;
}

h2 {
    color: rgb(10, 0, 27);
}

button {
    border-radius: 8px;
    width: 15rem;
    height: 2rem;
    font-size: 1.3em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(141, 12, 12, 0.747);
}

form {
    font-size: 1.4rem;
}

input {
    border-radius: 16px;
    text-align: center;
    width: 15rem;
    height: 3rem;
    font-size: 2rem;
}